.bandeja__mail {
  background-color: white;

  padding: 0 15px;

  width: 100%;
  max-width: 700px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
}
